{% extends 'one/base.html' %}


{% block main %}
    <p>
        Hello
    </p>

    <ul>
        {% for good in good_list %}
            <a href="{% url 'one:detail' good.id %}"><li>{{ good.name }}</li></a>
        {% endfor %}
    </ul>



    <form action="#" method="post">
        姓名：<input type="text" name="username" id=""> <br>
        密码：<input type="password" name="password" id=""> <br>
        <input type="submit" value="注册">
    </form>


    <nav aria-label="Page navigation">
        <ul class="pagination">
          <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

      <button id="btn">
          图表展示
      </button>

      <div id="main" style="width: 600px;height:400px;"></div>

      <script>
          $("#btn").click(function(e){
              // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

// 指定图表的配置项和数据
var option = {
    title: {
        text: 'ECharts 入门示例'
    },
    tooltip: {},
    legend: {
        data:['销量']
    },
    xAxis: {
        data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
    },
    yAxis: {},
    series: [{
        name: '销量',
        type: 'bar',
        data: [5, 20, 36, 10, 10, 20]
    }]
};

// 使用刚指定的配置项和数据显示图表。
myChart.setOption(option);
          })
      </script>
{% endblock %}

{% block aside %}
    侧边栏
{% endblock %}

